.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
src/api/company/finance/need.js
1.txt
*.rar
src/backend.zip
src/api/system.zip
src/assets/css.zip
src/assets/js.zip
src/assets/libs.zip
src/views/myFinance.zip
src/views/system.zip
333.zip
public.zip
src.zip
public/pages/console_old.zip
public/pages/company/auth-0.zip
public/pages/company/auth-1.zip
public/pages/console/console.zip
